body {
    background-color: rgb(242, 234, 226)
}

.whitebox {
    width: 600px;
    height: 450px;
    position: relative;
    top: 175px;
    left: 420px;
    background-color: white;
    border-radius: 20px;
}

.img {display: flex;
    justify-content: flex-start;
}

.head {
    width: 92px;
    height: 15px;
    position: absolute;
    top: 32px;
    left: 332px;
    font-family: "Montserrat";
    src: url(url(fonts/static/Montserrat-Medium.ttf));
    font-size: 12px;
    letter-spacing: 5px;
}

.head2 {
    width: 236px;
    height: 96px;
    position: absolute;
    top: 67px;
    left: 332px;
    color: rgb(28, 35, 43);
    font-family: "Fraunces", system-ui;
    font-size: 32px;
    font-weight: 700;
    font-style: light;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    line-height: 32px;
    }
    
    