
body {
    display: flex;
    background-color: rgb(242, 234, 226);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.whitebox {
    display: flex;
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
}

.box{
    display: flex;
    padding: 32px;
    width: 300px;
    height: 386px;
    flex-direction: column;
}

.head1{
    margin: 0;
    color: rgb(108, 114, 137);
    font-family: "Montserrat";
    src: url(url(fonts/static/Montserrat-Medium.ttf));
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 15px;
}

.head2 {
    display: flex;
    margin: 0;
    color: rgb(28, 35, 43);
    font-family: "Fraunces", system-ui;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
        "SOFT" 0,
        "WONK" 0;
    line-height: 32px;
}

.description1 {
    color: rgb(108, 114, 137);
    font-family: "Montserrat";
    src: url(url(fonts/static/Montserrat-Medium.ttf));
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}

.price {
    display: flex;
    align-items: center;
}

.now {
    color: rgb(61, 129, 104);
    font-family: "Fraunces", system-ui;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
        "SOFT" 0,
        "WONK" 0;
    line-height: 32px;
    padding-right: 19px;
}

.before {
    color: rgb(108, 114, 137);
    font-family: "Fraunces", system-ui;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
        "SOFT" 0,
        "WONK" 0;
    line-height: 23px;
    text-decoration: line-through;
}

.button {
    display: flex;
    align-items: center;
    padding: 15px 62px;
    width: 236px;
    height: 48px;
    font-family: "Montserrat";
    src: url(fonts/static/Montserrat-Medium.ttf);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    background-color: rgb(61, 129, 104);
    border-radius: 8px;
    border: 0;
    color: white;
}

#img2 {display: flex;
    padding-right: 10px;
}

    
    